@{
  Layout = "_Layout";
}

<div class="row">
  <div class="col-md=3">
    @Html.Partial("_Sidebar")
  </div>
  <div class="col-md-9">
    <div class="card">
      <div class="card-body">
        <form action="/vendors/@Model.ID/edit" method="post">
          <div class="form-group">
            <label for="vendorName" class="vendorNameLabel">Vendor Name</label>
            <input id="vendorName" name="vendorName" type="text" class="form-control" value="@Model.Name" required>
          </div>
          <div class="form-group">
            <label for="vendorPhone" class="vendorNameLabel">Vendor Phone</label>
            <input id="vendorPhone" name="vendorPhone" type="text" class="form-control" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" value="@Model.Phone">
          </div>
          <div class="form-group">
            <label for="vendorAddress" class="vendorNameLabel">Vendor Address</label>
            <input id="vendorAddress" name="vendorAddress" type="text" class="form-control" value="@Model.Address">
          </div>
          <div class="form-group">
            <label for="vendorEmail" class="vendorNameLabel">Vendor Email</label>
            <input id="vendorEmail" name="vendorEmail" type="text" class="form-control" value="@Model.Email">
          </div>
          <button class="btn btn-success" type="submit">Update Vendor</button>
        </form>
      </div>
    </div>
  </div>
</div>