@using OrderTracker.Models;
@{
  Layout = "_Layout";
}

<div class="page-header">
  <h1>Vendor Details</h1>
</div>

<div class="row">
  <div class="col-md-3">
    @Html.Partial("_Sidebar")
  </div>
  <div class="col-md-9">
    @if (@Model == null)
    {
      <p>Vendor Not Found</p>
    }
    else
    {
      <h2>@Model.Name</h2>
      @if (@Model.GetOrders().Count == 0)
      {
        <p>No Orders Recorded For This Vendor</p>
      }
      else
      {
        <div class="order-list">
          <ol>
            @foreach(Order order in Model.GetOrders())
            {
              <li><div class="card">
                <div class="card-body">
                  Bread: @order.BreadOrder, Pastry: @order.PastryOrder
                </div>
              </div></li>
            }
          </ol>
        </div>
      }
    }
    <a href="/vendors/@Model.ID/orders/new">Add Order To This Vendor</a>
  </div>
</div>

