@using OrderTracker.Models;
@{
  Layout = "_Layout";
}

<div class="page-header">
  <h1>Vendor Details</h1>
</div>

<div class="row">
  <div class="col-md-3">
    @Html.Partial("_Sidebar")
  </div>
  <div class="col-md-9">
    @if (@Model == null)
    {
      <p>Vendor Not Found</p>
    }
    else
    {
      <h2>@Model.Name</h2>
      @if (@Model.Phone != null){
        <h4>Phone: @Model.Phone</h4>
      }
      @if (@Model.Address != null){
        <h4>Address: @Model.Address</h4>
      }
      @if (@Model.Email != null){
        <h4>Email: @Model.Email</h4>
      }
      @if (@Model.GetOrders().Count == 0)
      {
        <p>No Orders Recorded For This Vendor</p>
      }
      else
      {
        <div class="order-list">
          <ul>
            @foreach(Order order in Model.GetOrders())
            {
              <li><div class="card bg-success">
                <div class="card-body">
                  <a href="/vendors/@Model.ID/orders/@order.ID" class="stretched-link">Bread: @order.BreadOrder, Pastry: @order.PastryOrder</a>
                </div>
                <div class="card-footer">
                </div>
              </div></li>
            }
          </ul>
        </div>
      }
    }
    <button class="btn btn-success link-button" onclick="location.href='/vendors/@Model.ID/orders/new'">Add Order To This Vendor</a>
    <button class="btn btn-success link-button" onclick="location.href='/vendors/@Model.ID/edit'">Update This Vendor</a>
  </div>
</div>

