@using OrderTracker.Models;
@{
  Layout = "_Layout";
}

<div class="page-header">
  <h1>Orders By Vendor</h1>
</div>

<div class="row">
  <div class="col-md-3">
    @Html.Partial("_Sidebar")
  </div>
  <div class="col-md-9">
    @if (@Model["vendor"].Count() == 0)
    {
      <p>No Vendors Added</p>
    }
    else
    {
      @if (@Model["order"].Count() == 0)
      {
        <p>No Orders Adds</p>
      }
      else
      {
        <div class="order-list">
          <ol>
            @foreach(Order order in Model["order"])
            {
              <li>Bread: @order.BreadOrder, Pastry: @order.PastryOrder</li>
            }
          </ol>
        </div>
      }
    }
  </div>
</div>